<div class="container-fluid mt-3">
    <div class="flex-container">
        <div class="flex-container_title">User Types by Permissions Registration</div>
        <img class="flex-container_image" src="../../../assets/ustypeperm_64.png" alt="User Types by Permissions Icon" loading="lazy">
    </div>
    
    <div style="text-align: right; padding-top: 20px;">
        <button mat-raised-button color="accent" routerLink="/ustypesperm-list" class="mrb">
            <mat-icon>list</mat-icon>Back to List
        </button>
    </div>
</div>