<div class="container-fluid mt-3">
    <div class="flex-container">
        <div class="flex-container_title">Applications by Objects Registration</div>
        <img class="flex-container_image" src="../../../assets/apps_objs_64.png" alt="Applications by Objects Icon" loading="lazy">
    </div>

    <div style="text-align: right; padding-top: 20px;">
        <button mat-raised-button color="accent" routerLink="/appsobj-list" class="mrb">
            <mat-icon>list</mat-icon>Back to List
        </button>
    </div>

    <div class="card p-5 mt-4">
        <form #tbAppObjForm="ngForm" (ngSubmit)="saveAppObj( tbAppObjForm )" novalidate>
            <div style="background-color: floralwhite;">

                <mat-form-field appearance="outline" style="width: 800px; margin-left: 60px;">
                    <mat-label>Application's Information</mat-label>
                    <mat-select required [(ngModel)]="tbAppObj.applications" [formControl]="appObjForm_idApplications" (blur)="appObjForm_idApplicationsErrMess()">
                        <mat-option>Select application</mat-option>
                        <mat-option *ngFor="let userDataApp of dataSourceApplication" [value]="userDataApp.id">
                            <span style="color:blue">Name</span> & <span style="color:green">Title</span>: 
                            <span style="color:blue">{{ userDataApp.name.trim() }}</span> /\ <span style="color:green">{{ userDataApp.title.trim() }}</span></mat-option>
                    </mat-select>
                    @if (appObjForm_idApplications.hasError( 'required' ))
                    {
                        <mat-error>{{ errorMessage1() }}</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 800px; margin-left: 60px;">
                    <mat-label>Object's Information</mat-label>
                    <mat-select required [(ngModel)]="tbAppObj.objects" [formControl]="appObjForm_idObjects " (blur)="appObjForm_idObjectsErrMess()">
                        <mat-option>Select object</mat-option>
                        @for (userDataObj of dataSourceObject; track userDataObj.id)
                        {
                        <mat-option [value]="userDataObj.id">
                            <span style="color:blue">Title: {{ userDataObj.title }}</span> /\ 
                            <span style="color:green">Description: {{ limitCharsDescription( userDataObj.description, 25 ) }}</span>
                        </mat-option>
                        }
                    </mat-select>
                    @if (appObjForm_idObjects.hasError( 'required' ))
                    {
                        <mat-error>{{ errorMessage2() }}</mat-error>
                    }
                </mat-form-field>
            
                <mat-divider style="margin-bottom: 25px;"></mat-divider>

                <div class="text-end">
                    <button type="reset" mat-raised-button color="primary" class="m-2" onclick="clearForm()">Clear Form</button>&nbsp;&nbsp;
                    <button mat-raised-button color="primary" name="Save" class="m-2">
                        <mat-icon>done_all</mat-icon>Save Data
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>