@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.tooltip-overrides((
    container-color: orange,
    supporting-text-color: red,
    supporting-text-weight: 350px
  ));
}