<div class="container-fluid mt-3">
    <div class="flex-container">
        <div class="flex-container_title">Applications by Objects Registration</div>
        <img class="flex-container_image" src="../../../assets/apps_objs_64.png" alt="Applications by Objects Icon" loading="lazy">
    </div>

    <div class="info_buttons">
      <button type="button" class="btn btn-info infoQtde">Qtde Registros: {{ qtdeRegistros }}</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="accent" routerLink="/appsobj" class="mrb">
        <mat-icon>note_add</mat-icon>Create New Data
      </button>
    </div>

    <section class="table-container mat-elevation-z8 mt-4">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th class="mat-header-cell th_id" mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell class="th_id" *matCellDef="let element">{{ zerosLeft( element.id, 4 ) }}</td>
          </ng-container>

          <!-- Application ID Column -->
          <ng-container matColumnDef="applications.id" [ngStyle]="">
            <th class="mat-header-cell roboto_relship_id" mat-header-cell *matHeaderCellDef>Application ID</th>
            <td mat-cell *matCellDef="let element" class="roboto_relship_id">{{ zerosLeft( element.applications.id, 4 ) }}</td>
          </ng-container>

          <!-- Application Name Column -->
          <ng-container matColumnDef="applications.name" [ngStyle]="">
            <th class="mat-header-cell" mat-header-cell *matHeaderCellDef>Application Name</th>
            <td mat-cell *matCellDef="let element" class="roboto_relship">
              <a class="description_title" matTooltip="{{ showTooltipDescription( element.applications.name ) }}" data-html="true" tooltip-append-to-body="true">{{ limitCharsDescription( element.applications.name, 50 ) }}</a>
            </td>
          </ng-container>

          <!-- Application Acronym Column -->
          <ng-container matColumnDef="applications.acronym" [ngStyle]="">
            <th class="mat-header-cell" mat-header-cell *matHeaderCellDef>Application Acronym</th>
            <td mat-cell *matCellDef="let element" class="roboto_relship">
              <a class="description_title" matTooltip="{{ showTooltipDescription( element.applications.acronym ) }}" data-html="true" tooltip-append-to-body="true">{{ limitCharsDescription( element.applications.acronym, 50 ) }}</a>
            </td>
          </ng-container>

          <!-- Application Title Column -->
          <ng-container matColumnDef="applications.title" [ngStyle]="">
            <th class="mat-header-cell" mat-header-cell *matHeaderCellDef>Application Title</th>
            <td mat-cell *matCellDef="let element" class="roboto_relship">{{ element.applications.title }}</td>
          </ng-container>

          <!-- Object ID Column -->
            <ng-container matColumnDef="objects.id" [ngStyle]="">
              <th class="mat-header-cell roboto_relship_id" mat-header-cell *matHeaderCellDef>Object ID</th>
              <td mat-cell *matCellDef="let element" class="roboto_relship_id">{{ zerosLeft( element.objects.id, 4 ) }}</td>
            </ng-container>

            <!-- Object Title Column -->
            <ng-container matColumnDef="objects.title" [ngStyle]="">
              <th class="mat-header-cell" mat-header-cell *matHeaderCellDef>Object Title</th>
              <td mat-cell *matCellDef="let element" class="roboto_relship">
                <a class="description_title" matTooltip="{{ showTooltipDescription( element.objects.title ) }}" data-html="true" tooltip-append-to-body="true">{{ limitCharsDescription( element.objects.title, 50 ) }}</a>
              </td>
            </ng-container>

            <tr class="mat-header-row" style="height: 32px;" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
            <tr class="mat-row" style="height: 32px;" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </section>
  </div>