<div class="container-fluid mt-5">
    <mat-grid-list cols="5" rowHeight="2:1" gutterSize="20">
        <mat-grid-tile class="mgt" routerLink="/user-list" title="Users Registration CR">
            <span class="span_option">Users [CR]</span>
            <span class="example-spacer"></span>
            <img class="img_sco" src="../../assets/id-card.png" alt="Simple Crud Operation">
        </mat-grid-tile>
        <mat-grid-tile class="mgt" routerLink="/application-list" title="Applications Registration CR">
            <span class="span_option">Applications [CR]</span>
            <span class="example-spacer"></span>
            <img class="img_sco" src="../../assets/app-file-outline-icon.png" alt="Simple Crud Operation">
        </mat-grid-tile>
        <mat-grid-tile class="mgt" routerLink="/object-list" title="Objects Registration CR">
            <span class="span_option">Objects [CR]</span>
            <span class="example-spacer"></span>
            <img class="img_cs" src="../../assets/objects.png" alt="Simple Crud Operation">
        </mat-grid-tile>
        <mat-grid-tile class="mgt" routerLink="/usertype-list" title="User Types Registration CR">
            <span class="span_option">User Types [CR]</span>
            <span class="example-spacer"></span>
            <img class="img_cs" src="../../assets/text-editor_64.png" alt="Simple Crud Operation">
        </mat-grid-tile>
        <mat-grid-tile class="mgt" routerLink="/permission-list" title="Permissions Registration CR">
            <span class="span_option">Permissions [CR]</span>
            <span class="example-spacer"></span>
            <img class="img_cs" src="../../assets/permissao.png" alt="Simple Crud Operation">
        </mat-grid-tile>
        <mat-grid-tile class="mgt" routerLink="/usraccess-list" title="Users Access R">
            <span class="span_option">Users Access [R]</span>
            <span class="example-spacer"></span>
            <img class="img_cs" src="../../assets/access_64.png" alt="Simple Crud Operation">
        </mat-grid-tile>
        <mat-grid-tile class="mgt" routerLink="/usersapp-list" title="Users Access by Applications R">
            <span class="span_option">Users Access<BR>by<BR>Applications [R]</span>
            <span class="example-spacer"></span>
            <img class="img_cs" src="../../assets/authorization_64.png" alt="Simple Crud Operation">
        </mat-grid-tile>
        <mat-grid-tile class="mgt" routerLink="/appsobj-list" title="Applications by Objects R">
            <span class="span_option">Applications<BR>by<BR>Objects [R]</span>
            <span class="example-spacer"></span>
            <img class="img_cs" src="../../assets/apps_objs_64.png" alt="Simple Crud Operation">
        </mat-grid-tile>
        <mat-grid-tile class="mgt" routerLink="/ustypesperm-list" title="User Types by Permissions R">
            <span class="span_option">User Types<BR>by<BR>Permissions [R]</span>
            <span class="example-spacer"></span>
            <img class="img_cs" src="../../assets/ustypeperm_64.png" alt="Simple Crud Operation">
        </mat-grid-tile>
        <mat-grid-tile class="mgt" routerLink="/profile-list" titles="Profiles">
            <span class="span_option">Profiles [R]</span>
            <span class="example-spacer"></span>
            <img class="img_cs" src="../../assets/profile_64.png" alt="Simple Crud Operation">
        </mat-grid-tile>
    </mat-grid-list>
</div>